@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@layer theme, base, antd, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme inline {
  --color-primary: var(--ant-color-primary);
  --color-success: var(--ant-color-success);
  --color-warning: var(--ant-color-warning);
  --color-error: var(--ant-color-error);
  --color-info: var(--ant-color-info);
  --color-background: var(--ant-color-bg-container);
  --color-layout: var(--ant-color-bg-layout);
  --color-text: var(--ant-color-text-base);
}